/* 定义一个公共主体颜色变量 */
body {
  /* Mui默认是17px */
  font-size: .14rem;
}
/* 设置我们的html根元素来实现rem适配 */
html {
  font-size: 26.66667vw;
}
/* 去掉默认的间距 */
* {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 0.14rem;
  line-height: 0.14rem;
}
#header {
  z-index: 22;
  height: 0.45rem;
  background-color: #006699;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .left {
  width: 0.45rem;
  height: 0.45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header .left a {
  display: block;
  color: #fff;
}
#header .center {
  flex: 1;
}
#header .center h4 {
  color: #fff;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#header .center form {
  height: 100%;
}
#header .center form input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 0;
  text-align: left;
}
#header .right {
  width: 0.45rem;
  height: 0.45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header .right a {
  color: #fff;
}
#main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#main form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .15rem;
}
#main form input {
  height: 0.4rem;
  margin-bottom: 0;
  border-radius: .06rem 0px 0px .06rem !important;
  text-align: left;
}
#main form button {
  height: 0.4rem;
  color: #fff;
  border-radius: 0px .06rem .06rem 0px !important;
  background-color: #006699;
  border: #006699;
}
#main .mui-table-view-cell:after {
  left: 0;
}
#main .search-history {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#main .search-history .mui-scroll-wrapper {
  position: relative;
  flex: 1;
}
#footer {
  z-index: 22;
  height: 0.45rem;
  background-color: #006699;
}
#footer .mui-row {
  height: 100%;
}
#footer .mui-row > div {
  height: 100%;
}
#footer .mui-row > div a {
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer .mui-row > div a i {
  display: block;
}
#footer .mui-row > div a span {
  display: block;
}
#main {
  position: relative;
}
#main .mui-card-header {
  color: #aaa;
}
#main .mui-card-header > a {
  font-size: 0.14rem;
  color: #666;
}
#main .mui-card-header > a.active {
  color: red;
}
#main .product {
  padding: 0.05rem;
  border: 1px solid #ccc;
  text-align: center;
}
#main .product .product-img {
  width: 100%;
}
#main .product .product-name {
  color: #ccc;
  text-align: left;
  margin-top: 0.05rem;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#main .product .product-price {
  text-align: center;
}
#main .product .product-price span {
  color: red;
}
#main .mui-scroll {
  display: flex;
  flex-direction: column;
}
#main .mui-scroll form {
  height: 68px;
}
#main .mui-scroll .mui-pull-bottom-pocket {
  position: absolute;
}
