@import './base.less';

#main {
    .fa-close {
        height     : 0.2rem;
        width      : 0.2rem;
        line-height: 0.2rem;
        padding    : 0;
        text-align : center;

        &::before {
            padding: 0;
        }
    }

}